html {
  background-image: url(https://media0.giphy.com/media/jjumjlFxZBoM8B9Oo3/giphy.gif?cid=ecf05e472e3fgnumgnj20ljf3ie2fh89ry3xjiaj8o3gn0g4&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
input,
button,
p {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: darkblue;
  text-align: center;
  font-size: 20px;
}

.player{
  float: left;
}

.team{
  float: right;
}

h1 {
  font-size: 80px;
}
p {
  color: gray;
}

.stats {
  height: 1000px;
  max-width: 500px;
  background-color: #990000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

.image {
  border-top: 1px solid black;

  max-width: 700px;
  height: 500px;
  margin: auto;

  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
